# macOS
.DS_Store
**/.DS_Store

# IDEs
.vscode/
.vs/
**/xcuserdata/

# JUCE Projucer-generated build folders
Builds/

# JUCE generated code
JuceLibraryCode/

# Build artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe

# CMake build directory 
build/
